
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-results/
/allure-report/
allure-serve/
allure-*.xml
allure-*.json
allure-*.txt
allure-*.log
allure-*.html
